<div class="contacts-list-data">
          <img
            [src]="contact.image ? contact.image : '../../assets/facebook-anonymous-app.jpg'"

          />

        <div class="contacts-list-info">
          <span class="contact-name "
            >{{ contact?.firstName }} {{ contact?.lastName }}</span
          ><br />
          <span class="contact-phone "> {{ contact?.email }} </span><br />
          <!-- <span class="parg ">
            {{ contact?.email }}
          </span> -->
        </div>
</div>
